
 h1,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}
h2{
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-style: italic;
  font-weight: bold;
 }
 h3{
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  color: #173618;
 }
 dt{
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: #173618;
 }
 .obs{
    font-family: "Raleway", sans-serif;
    text-align: left;
    font-style: italic;
    font-size: 12px;
    color: red;
  }
/*FORMATAÇÃO PARA OS LINKS - INICIO*/
  a:link, a:visited, a:active{
    text-decoration: underline;
    font-style: italic;
    }
  a:hover {
    text-decoration: underline;
    color: #04AA6D
    }
/*FORMATAÇÃO PARA OS LINKS - FINAL/
 /* body {font-family: Arial, Helvetica, sans-serif;}*/
*{font-family: Arial, Helvetica, sans-serif;}
 * {box-sizing: border-box;}

 input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
  input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
	}
  .mySlides {display:none;
  }
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #ccc; 
}
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
img{
  border-radius: 5%;
}
.rodape {
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
iframe {
  width: 80%;
  height: auto;
  padding: 5px;
}
div p{
  text-align: justify;
}
.configurado{
  font-style: italic;
  font-weight: bold;
  color:#04AA6D;
}
.configurado1{
  font-style: italic;
  font-weight: bold;
 }
 .configurado3{
  font-style: italic;
  font-weight: bold;
  font-size: larger;
 }
 /*containertovideo*/
 .containertovideo {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 10;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}